In [ ]:
  print ('Nama           : Luluatina Zakiyatal Fikri')
  print ()
  print ('NPM            : 2420506034')
  print ()
  print ('Alamat         : Kaliangkrik, Magelang')
  print ()
  print ('Tinggi Badan   : 163')
  print ()
  print ('Berat Badan    : 68')

Nama           : Luluatina Zakiyatal Fikri

NPM            : 2420506034

Alamat         : Kaliangkrik, Magelang

Tinggi Badan   : 163

Berat Badan    : 68

In [ ]:
print ('\033[1mUNIVERSITAS TIDAR\033[0m')
print ('Universitas Tidar merupakan Perguruan Tinggi Pemerintah atau Perguruan Tinggi Negeri yang telah ditetapkan berdasarkan Peraturan Presiden Republik Indonesia')
print ()
print ('\033[1mJURUSAN TEKNIK ELEKTRO, MEKATRONIKA, DAN INFORMASI\033[0m')
print ('Jurusan Teknik Elektro terdiri atas tiga program studi, antara lain :')
print ('    1. S1 Teknik Elektro \033[3m(Bachelor of Electrical Engineering)[0m')
print ('    2. \033[0mS1 Teknologi Informasi \033[3m(Bachelor of Information Technology)')
print ('    3. \033[0mS1 Teknik Mekatronika \033[3m(Bachelor of Mechatronics Engineering)')

UNIVERSITAS TIDAR
Universitas Tidar merupakan Perguruan Tinggi Pemerintah atau Perguruan Tinggi Negeri yang telah ditetapkan berdasarkan Peraturan Presiden Republik Indonesia

JURUSAN TEKNIK ELEKTRO, MEKATRONIKA, DAN INFORMASI
Jurusan Teknik Elektro terdiri atas tiga program studi, antara lain :
    1. S1 Teknik Elektro (Bachelor of Electrical Engineering)[0m
    2. S1 Teknologi Informasi (Bachelor of Information Technology)
    3. S1 Teknik Mekatronika (Bachelor of Mechatronics Engineering)

Say "Hello" tp the world ini Python

In [ ]:
panjang = 20.5
lebar = 25
tinggi = 10

keliling = 2 * (panjang + lebar)
luas = panjang * lebar
volume = panjang * lebar * tinggi

print("Panjang = " + str(panjang))
print("Lebar = " + str(lebar))
print("Tinggi = " + str(tinggi))
print("Keliling = " + str(keliling))
print("Volume = " + str(volume))

Panjang = 20.5
Lebar = 25
Tinggi = 10
Keliling = 91.0
Volume = 5125.0

In [ ]:
# Data mahasiswa
data = {
    "Shafira": [85, 75],
    "Amanda": [80, 90],
    "Aditya": [75, 80],
    "Nedia": [95, 80],
    "Widya": [85, 85],
    "Hanif": [75, 90],
    "Andi": [70, 75],
    "Dhanar": [85, 85],
    "Hikma": [80, 75]
}

# Perhitungan
# 1. Rata-rata nilai Shafira
rata_rata_shafira = sum(data["Shafira"]) / len(data["Shafira"])

# 2. Jumlah nilai Hanif dan Andi
jumlah_hanif_andi = sum(data["Hanif"]) + sum(data["Andi"])

# 3. Rata-rata nilai Widya, Dhanar, Hikma, Nedia
data_tertentu = ["Widya", "Dhanar", "Hikma", "Nedia"]
rata_rata_kalkulus_tertentu = sum([data[m][0] for m in data_tertentu]) / len(data_tertentu)
rata_rata_statistika_tertentu = sum([data[m][1] for m in data_tertentu]) / len(data_tertentu)

# 4. Rata-rata nilai semua mahasiswa per mata kuliah
rata_rata_kalkulus_semua = sum([nilai[0] for nilai in data.values()]) / len(data)
rata_rata_statistika_semua = sum([nilai[1] for nilai in data.values()]) / len(data)

# Output
print("Rata-rata nilai Shafira:", rata_rata_shafira)
print("Jumlah nilai Hanif dan Andi:", jumlah_hanif_andi)
print("Rata-rata nilai Kalkulus 1 untuk Widya, Dhanar, Hikma, Nedia:", rata_rata_kalkulus_tertentu)
print("Rata-rata nilai Metode Statistika untuk Widya, Dhanar, Hikma, Nedia:", rata_rata_statistika_tertentu)
print("Rata-rata nilai Kalkulus 1 untuk semua mahasiswa:", rata_rata_kalkulus_semua)
print("Rata-rata nilai Metode Statistika untuk semua mahasiswa:", rata_rata_statistika_semua)

Rata-rata nilai Shafira: 80.0
Jumlah nilai Hanif dan Andi: 310
Rata-rata nilai Kalkulus 1 untuk Widya, Dhanar, Hikma, Nedia: 86.25
Rata-rata nilai Metode Statistika untuk Widya, Dhanar, Hikma, Nedia: 81.25
Rata-rata nilai Kalkulus 1 untuk semua mahasiswa: 81.11111111111111
Rata-rata nilai Metode Statistika untuk semua mahasiswa: 81.66666666666667

In [ ]:
# Data
jam_kerja_per_hari = 8
honor_per_jam = 30000
hari_kerja_bulan = 31
hari_tidak_masuk = 3
tunjangan_persen = 0.10
upah_lembur_per_jam = 10000
jam_lembur = 5

# 1. Hitung gaji bulan Agustus
jumlah_hari_masuk = hari_kerja_bulan - hari_tidak_masuk
gaji_bulan_Agustus = jumlah_hari_masuk * jam_kerja_per_hari * honor_per_jam

# 2. Hitung tunjangan
tunjangan = gaji_bulan_Agustus * tunjangan_persen

# 3. Hitung gaji total termasuk lembur
gaji_lembur = jam_lembur * upah_lembur_per_jam
gaji_total = gaji_bulan_Agustus + gaji_lembur

# Tampilkan hasil
print(f"1. Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama {hari_tidak_masuk} hari: Rp {gaji_bulan_Agustus:,.0f}")
print(f"2. Tunjangan yang diterima oleh Dwi pada bulan Agustus: Rp {tunjangan:,.0f}")
print(f"3. Gaji total yang diterima oleh Dwi pada bulan Agustus termasuk lembur: Rp {gaji_total:,.0f}")

1. Gaji pada bulan Agustus jika Dwi tidak masuk kerja selama 3 hari: Rp 6,720,000
2. Tunjangan yang diterima oleh Dwi pada bulan Agustus: Rp 672,000
3. Gaji total yang diterima oleh Dwi pada bulan Agustus termasuk lembur: Rp 6,770,000